<?xml version='1.0'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Product Id='1a18c789-4629-48f0-9111-d50fd1cedca6' Name='Browser Automation Helper' 
            Language='1033'
            Version='1.0.0.0'
            UpgradeCode="a8a4d6a3-014f-4efa-8889-b9fa7add726f"
            Manufacturer='Jason Huggins (Google, Inc.)'>
      <Package Description='An Installer package for Bah (Browser Automation Helper).'
               Comments='A Windows Installer database for Bah, the Browser Automation Helper.'
               Manufacturer='Jason Huggins (Google, Inc.)' InstallerVersion='200' Compressed='yes' />
 
      <Media Id='1' Cabinet='bah.cab' EmbedCab='yes' />
 
      <Directory Id='TARGETDIR' Name='SourceDir'>
         <Directory Id='ProgramFilesFolder' Name='PFiles'>
            <Directory Id='MyDir' Name='Browser Automation Helper'>                              
            <Component Id="CompBHOBrowserAutomationHelper.dll" Guid="{5885764D-5EF7-406F-901C-4CAA3251F552}">         
                <File Id="BHOBrowserAutomationHelper.dll" Name="BHOBrowserAutomationHelper.dll" KeyPath="yes" Source="bin\Release\BHOBrowserAutomationHelper.dll" />
                <File Id="BHOBrowserAutomationHelper.pdb" Name="BHOBrowserAutomationHelper.pdb" Source="bin\Release\BHOBrowserAutomationHelper.pdb" />
                <File Id="Interop.MSHTML.dll" Name="Interop.MSHTML.dll" Source="bin\Release\Interop.MSHTML.dll" />
                <File Id="Interop.SHDocVw.dll" Name="Interop.SHDocVw.dll" Source="bin\Release\Interop.SHDocVw.dll" />   
                <RegistryValue Root="HKCR" Key="CLSID\{8A194578-81EA-4850-9911-13BA2D71EFBD}" Value="Bah - Browser Automation Helper BHO" Type="string" />
                <RegistryValue Root="HKCR" Key="CLSID\{8A194578-81EA-4850-9911-13BA2D71EFBD}\Implemented Categories" Type="string" Value="" />
                <RegistryValue Root="HKCR" Key="CLSID\{8A194578-81EA-4850-9911-13BA2D71EFBD}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Type="string" Value=""/>               
                <RegistryValue Root="HKCR" Key="CLSID\{8A194578-81EA-4850-9911-13BA2D71EFBD}\InprocServer32" Value="mscoree.dll" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8A194578-81EA-4850-9911-13BA2D71EFBD}\InprocServer32" Name="ThreadingModel" Value="Both" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8A194578-81EA-4850-9911-13BA2D71EFBD}\InprocServer32" Name="Class" Value="BHOBrowserAutomationHelper.BHO" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8A194578-81EA-4850-9911-13BA2D71EFBD}\InprocServer32" Name="Assembly" Value="BHOBrowserAutomationHelper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8A194578-81EA-4850-9911-13BA2D71EFBD}\InprocServer32" Name="RuntimeVersion" Value="v2.0.50727" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8A194578-81EA-4850-9911-13BA2D71EFBD}\InprocServer32" Name="CodeBase" Value="[#BHOBrowserAutomationHelper.dll]" Type="string" Action="write" />               
                <RegistryValue Root="HKCR" Key="CLSID\{8A194578-81EA-4850-9911-13BA2D71EFBD}\InprocServer32\1.0.0.0" Name="Class" Value="BHOBrowserAutomationHelper.BHO" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8A194578-81EA-4850-9911-13BA2D71EFBD}\InprocServer32\1.0.0.0" Name="Assembly" Value="BHOBrowserAutomationHelper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8A194578-81EA-4850-9911-13BA2D71EFBD}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v2.0.50727" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8A194578-81EA-4850-9911-13BA2D71EFBD}\InprocServer32\1.0.0.0" Name="CodeBase" Value="[#BHOBrowserAutomationHelper.dll]" Type="string" Action="write" />                
                <RegistryValue Root="HKCR" Key="CLSID\{8A194578-81EA-4850-9911-13BA2D71EFBD}\ProgId" Value="BHOBrowserAutomationHelper.BHO" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{8a194578-81ea-4850-9911-13ba2d71efbd}" Name="Alright" Value="1" Type="integer" Action="write" />
                <RegistryValue Root="HKCR" Key="BHOBrowserAutomationHelper.BHO" Value="BHOBrowserAutomationHelper.BHO" Type="string" />
                <RegistryValue Root="HKCR" Key="BHOBrowserAutomationHelper.BHO\CLSID" Value="{8A194578-81EA-4850-9911-13BA2D71EFBD}" Type="string" />
            </Component>                                            
            </Directory>
         </Directory>
      </Directory>


      <Feature Id='BHO' Title='Bah BHO for Internet Explorer' Level='1'>
         <ComponentRef Id='CompBHOBrowserAutomationHelper.dll' />
      </Feature>
   </Product>
</Wix>
