<?xml version='1.0'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Product Id='1a18c789-4629-48f0-9111-d50fd1cedca6' Name='Browser Automation Helper' Language='1033'
            Version='1.0.0.0' Manufacturer='Jason Huggins (Google, Inc.)'>
      <Package Id='e9219247-ccf8-4389-abed-17dccdfb868d'
                Description='A Windows Installer package for Bah (Browser Automation Helper).'
                Comments='A Windows Installer database for Bah, the Browser Automation Helper.'
                Manufacturer='Jason Huggins (Google, Inc.)' InstallerVersion='200' Compressed='yes' />
 
      <Media Id='1' Cabinet='bah.cab' EmbedCab='yes' />
 
      <Directory Id='TARGETDIR' Name='SourceDir'>
         <Directory Id='ProgramFilesFolder' Name='PFiles'>
            <Directory Id='MyDir' Name='BahProg' LongName='Browser Automation Helper'>
               <Component Id='BHOComponent' Guid='98eff4d0-b3c9-48a8-9ec7-c11f429203b1'>
                  <File Id='readme' Name='readme.txt' DiskId='1' src='readme.txt' />
               </Component>
            </Directory>
         </Directory>
      </Directory>
 
      <Feature Id='BHO' Title='Bah BHO for Internet Explorer' Level='1'>
         <ComponentRef Id='BHOComponent' />
      </Feature>
   </Product>
</Wix>
